html, body {
    height: 100%; 
    margin: 0;      
}

@font-face {
    font-family: 'Red Hat Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('Red Hat Display'), url('/assets/RedHatDisplay-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Red Hat Display Semi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Red Hat Display'), url('/assets/RedHatDisplay-SemiBold.ttf') format('truetype');
}

body {
    font-family: 'Red Hat Display Light', Helvetica, Arial, sans-serif;
    text-align: center;
}


.navbar {
    font-family: 'Red Hat Display Light', Helvetica, Arial, sans-serif;
}

h1, h2, h3, p {
    color: #383e51;
}

h1 {
    font-size: 3rem;
    line-height: 2;
}

h2 {
    font-size: 1.5rem;
    line-height: 3;
}

h3 {
    font-size: 1rem;
    font-family: 'Red Hat Display Semi Bold';
    line-height: 2;
}

p {
    line-height: 1.8;
}