@font-face {
	font-family: 'Red Hat Display Light';
	font-style: normal;
	font-weight: normal;
	src: local('Red Hat Display'), url('/assets/RedHatDisplay-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Red Hat Display Semi Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Red Hat Display'), url('/assets/RedHatDisplay-SemiBold.ttf') format('truetype');
}

/* @font-face {
	font-family: 'American Typewriter Condensed Light';
	font-style: normal;
	font-weight: normal;
	src: local('American Typewriter Condensed Light'), url('/assets/AmericanTypewriterCondensedLight.ttf') format('truetype');
} */

body {
    font-family: 'Red Hat Display Light', Helvetica, Arial, sans-serif;
    background-color: #272a30;
    text-align: center;
}

.navbar {
    font-family: 'Red Hat Display', Helvetica, Arial, sans-serif;
 }
 
 h1, h2, h3, p {
    color: #fffce8;
 }

 h1 {
    font-size: 3rem;
    line-height: 2;
 }

 h2 {
    font-size: 1.5rem;
    line-height: 3;
 }

 h3 {
    font-size: 1rem;
    font-family: 'Red Hat Display Semi Bold';
    line-height: 2;
 }

 p {
    line-height: 1.8;
  }

 .container-welcome {
    padding-top: 400px;
    z-index: 10;
  }

  .container-unfold {
    padding-top: 500px;
    z-index: 10;
  }

  @keyframes fadeInPauseFadeOut {
    0% {
      opacity: 0;
      transform: translateY(-10px);
      visibility: hidden;
    }
    25% {
      opacity: 0.8;
      transform: translateY(0);
      visibility: visible;
    }
    75% {
      opacity: 0.8;
      transform: translateY(0);
      visibility: visible;
    }
    100% {
      opacity: 0;
      transform: translateY(0px);
      visibility: hidden;
    }
  }
  
  .text-welcome {
    font-family: 'Red Hat Display Light', Helvetica, Arial, sans-serif;
    font-size: 4.5rem;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    animation: fadeInPauseFadeOut 5s ease forwards;
    animation-delay: 1s;
  }
  
  .text-unfold {
    font-family: 'Red Hat Display Light', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    animation: fadeInPauseFadeOut 5s ease forwards;
    animation-delay: 7s;
  }
 
  .animation, .animation_layer {
      height: 100vh;
  }
  
  .animation {
    display: block;
      position: relative;
      z-index: 10;
  }
  
  .animation_layer {
      background-size: cover;
      width: 100%;
      position: absolute;
  }
  .animation_layer.parallax {
      position: fixed;
  }
  
  #background {
    background-image: url(/images/parallax/background.svg);
  }

  #stars {
    background-image: url(/images/parallax/stars.svg);
    opacity: 0.5;
  }

  #greenlight {
    background-image: url(/images/parallax/greenlight.svg);
  }

  #bluelight {
    background-image: url(/images/parallax/bluelight.svg);
  }
  
#cloud3 {
    background-image: url(/images/parallax/cloud3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: driftCloud3 300s linear infinite;
    position: absolute;
    z-index: 5;
  }
  
#cloud2 {
    background-image: url(/images/parallax/cloud2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: driftCloud2 300s linear infinite;
    position: absolute;
    z-index: 5;
}
  
#cloud1 {
    background-image: url(/images/parallax/cloud1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: driftCloud1 400s linear infinite;
    position: absolute;
  }
  

  #trees4 {
    background-image: url(/images/parallax/trees4.svg);
    bottom: -5vh;
    opacity: 0.5;
  }
  
  #trees3 {
    background-image: url(/images/parallax/trees3.svg);
    bottom: -15vh;
  }

  #trees2 {
    background-image: url(/images/parallax/trees2.svg);
    bottom: -20vh;
  }

  #trees1 {
    background-image: url(/images/parallax/trees1.svg);
    bottom: -28vh;
  }

  #land {
    background-image: url(/images/parallax/land.svg);
    bottom: -110vh;
  }

  @keyframes driftCloud1 {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(120vw); 
      opacity: 1;
    }
  }
  
  @keyframes driftCloud2 {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(140vw);
      opacity: 1;
    }
  }
  
  @keyframes driftCloud3 {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(130vw);
      opacity: 1;
    }
  }