.contact-headers h1 {
        line-height: 1.5; 
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 15rem;
    row-gap: 6rem;
    padding: 6rem 1rem;
  }
  
  .logo-container-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .container-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .container-email img {
    height: 40px;
    width: auto;
  }
  
  .logo-container-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .logo-sm {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }

  .logo-sm img {
    height: 60px;
    width: auto;
  } 