.h1-intro {
    line-height: 1.4; 
}

.intro-wrapper .intro {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;     
    padding: 0 2rem;   
    position: relative;
    top: -10vh;
  }

  .intro-text {
    margin-top: 2rem;
  }