.container-header {
    display: flex;
    align-items: center;
    justify-content: center;/* vertically centers if needed */
    gap: 0.7rem;
    margin-bottom: 1rem; /* optional space between the two headers */
  }
  